<html>
    <head>
      {% if title %}
      <title>{{ title }} - Test</title>
      {% else %}
      <title>Welcome to a test site</title>
      {% endif %}
    </head>
    <body>
        <div>NeuralMusic: <a href="/index">Home</a>  <a href="/login">Log in</a> <a href="/about">About</a></div>
        <hr>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}


        {% block content %}{% endblock %}
    </body>
</html>