{% extends "base.html" %}

{% block content %}

<!-- Leftside navigation -->
<div class="leftnav">
    <ul class="leftnav-listing">
        <li><a href="#home-header"></a></li>
        <!--<li><a href="#project-description"></a></li>-->
        <li><a href="#model-section"></a></li>
        <li><a href="#team"></a></li>
    </ul>
</div>

<!-- Project description section -->
<section class="page-section container" id="project-description">
        <h1 class="section-heading text-center">Wait... what and how?</h1>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <p>NeuralMusic is a web application that generates MIDI piano melodies.<br>

It is powered by a neural network, trained for tens of hours on music famous human artists.<br>
<br>
Be aware of the following <b>limitations</b>:<br>
· The application only support monophonic MIDI generation.<br>
· Every timestep contains a note or a chord. There are no breaks. Hence, it sounds a bit odd.<br>
· The generated sequences are not visualized in the browser, but they can be played directly on the webpage.<br>
· There is no cherrypicking here, so...<br> ... Some generated sequences are <i>“more interesting”</i> than others. 

</p>
            </div>
            <div class="col-lg-2"></div>
        </div>
</section>

<!-- Model section -->
<section class="page-section text-center" id="model-section">

        <!-- Test -->
        <div class="container test">        
            <h1 class="" style="color:#f9cde6;">Select a style</h1>
            <div class="row group justify-content-center">
                <!-- <div class="col-6">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, sint nisi ad perferendis nesciunt necessitatibus quaerat. Eos voluptas ab accusantium sequi corporis pariatur, iusto fugit natus minus suscipit magnam aperiam?</p>
                </div> -->
                <div class="col-6">
                    <div class="row group justify-content-center">
                        <input type="radio" name="rb" id="rb7" value="LudovicoEinaudi" checked/>
                        <label for="rb7">Ludovico Einaudi</label>
                    </div>
                    <div class="row group justify-content-center">
                        <input type="radio" name="rb" id="rb8" value="LinkinPark"/>
                        <label for="rb8">Linkin Park</label>
                    </div>
                    <div class="row group justify-content-center">
                        <input type="radio" name="rb" id="rb10" value="Electroswing"/>
                        <label for="rb10">Electroswing</label>
                    </div>
                    <div class="row group justify-content-center">
                        <input type="radio" name="rb" id="rb11" value="EltonJohn"/>
                        <label for="rb11">Elton John</label>
                    </div>
                </div>
            </div>
            <span class="btn btn-primary btn-lg" href="" role="button" id="generate">Generate</span>
        </div>
        <!-- Loading animation -->
        <div class="text-center load-animation" id="load-animation">
            <h1 class="section-heading">Please wait</h1>
			<h3 class="section-heading-pun" style="font-size: 1rem;">If it has been more than 30 seconds, you can start worrying...</h3>
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
        

        <!-- Player -->
        <div class="text-center" id="player-section">
            <!--<h1 class="section-heading">Your MIDI file is ready to be played!</h1>-->
            <div class="player">
			<h3 class="player-file-label"></h3>
			<div class="player-controls">
				<div class="play-button player-control"><img src="static/assets/img/play.png"></div>
				<div class="stop-button player-control"><img src="static/assets/img/pause.png"></div>
				<div class="download-button player-control"><img src="static/assets/img/download.png"></div>
			</div>
			</div>
        </div>
</section>
<!-- End of the model section -->

    
<!-- Team Section-->
<section class="page-section" id="team">
            <div class="container">
                <div class="text-center">
                    <h1 class="section-heading" style="color:#f9cde6;">Project Team</h1>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{{ url_for('static', filename='assets/img/team/Edoardo.jpg') }}" alt="" />
                            <h4>Edoardo</h4>
                            <p class="text-muted">AI, Team Lead</p>
                            <!-- <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a><a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a><a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a> -->
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{{ url_for('static', filename='assets/img/team/Daniel.jpg') }}" alt="" />
                            <h4>Daniel</h4>
                            <p class="text-muted">Back-End Developer</p>
                            <!-- <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a><a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a><a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a> -->
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{{ url_for('static', filename='assets/img/team/Svitlana.png') }}" alt="" />
                            <h4>Svitlana Leus</h4>
                            <p class="text-muted">Front-End Developer</p>
                            <!-- <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a><a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a><a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a> -->
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p></div> -->
                </div>
            </div>
</section>
<div style="position:relative;"><img src="static/assets/img/horizontal-art.png" style="width:100vw;position:absolute;top:-200px;"></div>
<!-- Player scripts -->
<script src='{{ url_for('static', filename='js/neuralMusicPlayer.js') }}'></script>
{% endblock %}